.panel-footer {
    background: #4cae4c;
}

.jumbotron {
    background: #2aabd2;
}

#menu li {
    background: #9acfea;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#login {
    background: dimgrey;
    border-color: #1b1e21;
}